.seventh {
  h1 {
    color: white;
    background-color: $my-pink;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 3%;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
  button {
    border-radius: 20px;
    background-color: white;
    color: $my-pink;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    height: 40px;
    transition: 300ms;
    width: 150px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
}}}
