.sixth {

  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  .col-3 {
    position: relative;
  }
  img {
    float: right;
    padding-right: 20px;
    padding-top: 20px;

  }
  .sixth-icon {
    padding-top: 5%;
  }
  p {
    color: $dark-grey;
    font-weight: 200;
    line-height: 2;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-right: 10px;

  }
  h2 {
    color: $my-pink;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0;
  }
  .row {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
